<header class="d-flex justify-content-around bg-primary">
    <h2 class="align-self-center"><a class="navbar-brand text-white" [routerLink]="['/']">Aseguradora SA</a></h2>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">Principal</a>
            <a class="navbar-brand" [routerLink]="['/seguros']">Seguros</a>
            <a class="navbar-brand" [routerLink]="['/clientes']">Clientes</a>
        </div>
    </nav>
</header>
